.photo {
  height: 100px;
  width: 100px;
}
.background {
  background-color: #282c34;
  color: ghostwhite;
}
.productstyle {
  text-align: center;
}
.imgesize {
  height: 150px;
  width: auto;
  float: center;
}
